# required for cloudflare build
NODE_VERSION=20.8.1
# development | preview | production
ENVIRONMENT=development

OPENAI_API_KEY=

REDOX_API_CLIENT_ID=
# fhir:development | fhir:staging | fhir:production
REDOX_API_SCOPE=fhir:development
# kid from redox api public key json (JWK).
REDOX_API_KID=
# redox api private key as JWK. Can use https://jqplay.org/ with -s to convert to 1 line of json.
REDOX_API_PRIVATE_JWK=
REDOX_ENDPOINT_VERIFICATION_TOKEN=

SERPAPI_API_KEY=

# production | preview: https://supabase.com/dashboard/project/_/settings/api
# development: pnpm supabase status
SUPABASE_URL=http://localhost:54321
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU
